@charset 'utf-8';

@import "./mixins/pseudoClass";
@import "./mixins/responsive";
@import "./mixins/renderPlugins";
//@import "./mixins/configVariants";
@import "./configs/defaultConfig";
@import "./functions/functions";

$config: () !default;
$sasswindConfig: buildConfig($config, $defaultConfig);

$components: createPluginMap();
$utilities: createPluginMap();

@import "./plugins/corePlugins";

@import "./plugins/core/css/normalize";
@import "./plugins/core/css/preflight";
